.alert {
    margin-top: 20px;
}

.jumbotron {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/azoom.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.more-posts {
    display: inline;
}

.more-posts li a:link,
.more-posts li a:visited,
.more-posts li a:hover{
    color: #fff;
}

/* -------------------------- */
/* Side-Nav  */
/* -------------------------- */

.nav-icon {
    color: #999;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 5px;
}

.sidenav ul,
.sidenav ul li,
.sidenav ul li a {
    list-style-type: none ! important; 
    list-style: none ! important;
    padding: 2px ! important;
    text-decoration: none ! important ;
    font-size: 16px;
    font-family:  "Special Elite", "Arial", sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.closebtn {
    list-style: none;
    text-decoration: none;
    color: #818181;
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 400px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.head-text-box {
    
    position: absolute;
    width: 90%;
    height: 80vh;
    top: 40%;
    left: 10%;
    
}

.author {
    position: absolute;
    right: 10%;
    bottom: 0
}

.history,
.shortcomings {
    
    color: #555;
    background-color: #fff;
    
}


.codeblock {
    white-space:pre;
    word-wrap: normal;
    border-style: dotted;
    border-width: 2px;
    border-color: #726a5f;
    background-color: #000;
    color: chartreuse;
    width: 70%;
    font-size: 60%;
    font-family: courier;
    padding: 10px;
    position: relative;
    left: 15%;
    margin-top: 20px;
    margin-bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.factblock {
    white-space: pre;
    word-wrap: break-word;
    border-style: dotted;
    border-width: 2px;
    border-color: #726a5f;
    background-color: #cecfdd;
    width: 70%;
    font-size: 60%;
    font-family: courier;
    padding: 10px;
    position: relative;
    left: 15%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.copyrightnotice {
    white-space: pre;
    word-wrap: break-word;
    border-style:double;
    border-width: 2px;
    border-color: #fd010b;
    background-color: #ccc;
    width: 90%;
    font-size: 60%;
    font-family: courier;
    padding: 15px;
    position: relative;
    left: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.copyleft {
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 0px;
}

.figtext{
    width: 70%;
    font-size: 80%;
    font-family: sans-serif;
    font-weight:bolder;
    padding-top:0px;
    padding-bottom: 30px;
    position: relative;
    left: 15%;
}



.codeblock mark {
    color: #ff0000;
    font-size: 80%;
    font-family: courier;
}

footer {
    background-color: darkgray;
    height: 600px;
}

/*alternate section backgrounds to distinguish sections */
.intro,
.history,
.section-improvements,
.section-support,
.bestpractice,
.reportingissues {
    background-color: #d9d8d8
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

/**********************************
* COOKIES
*/

.section-cookies {
    background-color: beige;
}

.long-copy-cookie {
    padding-top: 0px;
    padding-bottom: 50px;
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    color: darkgoldenrod
}