* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Lato", "Arial", sans-serif;
/*    scroll-behavior: smooth;*/
    
}

.section-knownissues ul li,
.section-usecases ul li,
.section-support ul li,
.section-unsupport ul li,
.section-goals ul li,
.section-support ul li,
.section-improvements ul li {
    color:#73798e;
    list-style-type: circle;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    left: 45px;
    right: 10%;
    width: 80%;
}

.section-knownissues ul,
.section-usecases ul,
.section-goals ul,
.section-support ul,
.section-unsupport ul,
.section-improvements ul  {
    padding-bottom: 20px;
    padding-top: 20px;
}
header {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/azoom.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    height: 100vh;
    
}

.clearscroll {
    padding-top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/azoom.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    height: 35vh;
    
}

/* -------------------------- */
/* main-navigation */
/* -------------------------- */


nav {
    display:block;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px dotted #555;
    height: 55px;
    width: 100%;
    position: fixed;
    background-color: #222;
    color: #787878;
    z-index: 9999;
}


.logo-top,
.logo {
    float: left;
    padding: 3px;
    padding-left: 15px;
    color: #909090;
    font-size: 35px;
    text-decoration: none;
}

.gtrans {
    display: inline-block;
}

.navbar {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    width: 525px;
    height: 100%;
}

.nav-icon {
    display: block;
    padding: 10px;
    margin-right: 10px;
    float: right;
}

.main-nav {
    display: block;
    float: left;
    margin-top: 12px; 
    margin-right: 0;
    list-style: none;
    width: auto;
}

.main-nav li {
    display: inline;
    margin-right: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 0px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    
}



.more-posts {
    display: inline;
}

.more-posts li a:link,
.more-posts li a:visited,
.more-posts li a:hover{
    color: #fff;
}

/* -------------------------- */
/* Side-Nav  */
/* -------------------------- */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 5px;
}

.sidenav ul,
.sidenav ul li,
.sidenav ul li a {
    list-style-type: none ! important; 
    list-style: none ! important;
    padding: 2px ! important;
    text-decoration: none ! important ;
    font-size: 16px;
    font-family:  "Special Elite", "Arial", sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.closebtn {
    list-style: none;
    text-decoration: none;
    color: #818181;
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 400px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.head-text-box {
    
    position: absolute;
    width: 90%;
    height: 80vh;
    top: 10%;
    left: 10%;
    
}

header h1 {
    padding-top: 0px ! important;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 340%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.subheading {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 120%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    float: left;
}

.author {
    position: absolute;
    right: 10%;
    bottom: 0
}

.history,
.shortcomings {
    
    color: #555;
    background-color: #fff;
    
}

h2 {
    padding-top: 55px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    left: 10%;
    top: 10px;
    width: 90%;
    color: #000;
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h3 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    left: 10%;
    width: 90%;
    color: #000;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h4 {
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    left: 10%;
    width: 90%;
    color: #000;
    font-family: 'Dancing Script', cursive;
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.intro h4,
.bestpractice h4{

    font-size: 180%;
}

.references,
.main-text {
    
    padding-top: 0px;
    padding-bottom: 50px;
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    
}

div[id*="biblio"] {
    
    font-size:65%;
    left: 10%;
    width: 80%;
    line-height: 100%
    
}

.backtop {
    text-align: right;
    padding-bottom: 20px
}

div[class*="biblio"] a {
    
    font-size:100%;
}

.codeblock {
    white-space:pre;
    word-wrap: normal;
    border-style: dotted;
    border-width: 2px;
    border-color: #726a5f;
    background-color: #000;
    color: chartreuse;
    width: 70%;
    font-size: 60%;
    font-family: courier;
    padding: 10px;
    position: relative;
    left: 15%;
    margin-top: 20px;
    margin-bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.factblock {
    white-space: pre;
    word-wrap: break-word;
    border-style: dotted;
    border-width: 2px;
    border-color: #726a5f;
    background-color: #cecfdd;
    width: 70%;
    font-size: 60%;
    font-family: courier;
    padding: 10px;
    position: relative;
    left: 15%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.copyrightnotice {
    white-space: pre;
    word-wrap: break-word;
    border-style:double;
    border-width: 2px;
    border-color: #fd010b;
    background-color: #ccc;
    width: 90%;
    font-size: 60%;
    font-family: courier;
    padding: 15px;
    position: relative;
    left: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.copyleft {
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 0px;
}

.figtext{
    width: 70%;
    font-size: 80%;
    font-family: sans-serif;
    font-weight:bolder;
    padding-top:0px;
    padding-bottom: 30px;
    position: relative;
    left: 15%;
}


em {
    font-weight: bolder;
}
.codeblock mark {
    color: #ff0000;
    font-size: 80%;
    font-family: courier;
}

footer {
    background-color: darkgray;
    height: 600px;
}

/*alternate section backgrounds to distinguish sections */
.intro,
.history,
.section-improvements,
.section-support,
.bestpractice,
.reportingissues {
    background-color: #d9d8d8
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

/**********************************
* COOKIES
*/

.section-cookies {
    background-color: beige;
}

.long-copy-cookie {
    padding-top: 0px;
    padding-bottom: 50px;
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    color: darkgoldenrod
}