.alert {
    margin-top: 20px;
}

.jumbotron {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/azoom.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.author {
    position: absolute;
    right: 10%;
    bottom: 0
}

.history,
.shortcomings {
    
    color: #555;
    background-color: #fff;
    
}

.container {
    margin-bottom: 10px;
    padding-top: 70px;
}

.codeblock {
    white-space:pre;
    word-wrap: normal;
    border-style: dotted;
    border-width: 2px;
    border-color: #726a5f;
    background-color: #000;
    color: chartreuse;
    width: 85%;
    font-size: 80%;
    font-family: courier;
    padding: 10px;
    position: relative;
    left: 5%;
    margin-top: 20px;
    margin-bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.factblock {
    white-space: pre;
    word-wrap: break-word;
    border-style: dotted;
    border-width: 2px;
    border-color: #726a5f;
    background-color: #cecfdd;
    width: 70%;
    font-size: 80%;
    font-family: courier;
    padding: 10px;
    position: relative;
    left: 15%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.copyrightnotice {
    white-space: pre;
    word-wrap: break-word;
    border-style:double;
    border-width: 2px;
    border-color: #fd010b;
    background-color: #ccc;
    width: 90%;
    font-size: 60%;
    font-family: courier;
    padding: 15px;
    position: relative;
    left: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    
}

.copyleft {
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 0px;
}

.figtext{
    width: 85%;
    font-size: 80%;
    font-family: sans-serif;
    font-weight:bolder;
    padding-top:0px;
    padding-bottom: 30px;
    position: relative;
    left: 5%;
}



.codeblock mark {
    color: #ff0000;
    font-size: 80%;
    font-family: courier;
}

.codeblock strong {
    color: #00dddd;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 35px;
    padding-top: 7px;
    width: 100%;
    text-align: center;
    background-color: #555;
    color: #909090;
}

/*alternate section backgrounds to distinguish sections */
.intro,
.history,
.section-improvements,
.section-support,
.bestpractice,
.reportingissues {
    background-color:#bbb;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.biblio {
    padding-left: 20px;
}

/**********************************
* COOKIES
*/

.section-cookies {
    background-color: beige;
}

.long-copy-cookie {
    padding-top: 0px;
    padding-bottom: 50px;
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    color: darkgoldenrod
}